body {
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

nav {
  font-size; 18px;
  color: white;
  font-weight: normal;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
  font-weight: normal;
}

h3.designed {
  color: white;
}
